//Fonts

//Colors
$color-primary: #E6007E;
$font-color: #1C4961;

//Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1240px;

//Mixins
@mixin devices ($breakpoint) {

  @if $breakpoint ==mobile {
    @media only screen and (min-width:$breakpoint-mobile) {
      @content;
    }
  }

  @if $breakpoint ==tablet {
    @media only screen and (min-width:$breakpoint-tablet) {
      @content;
    }
  }

  @if $breakpoint ==laptop {
    @media only screen and (min-width:$breakpoint-laptop) {
      @content;
    }
  }

  @if $breakpoint ==desktop {
    @media only screen and (min-width:$breakpoint-desktop) {
      @content;
    }
  }


}

//Default styling for screens smaller than mobile breakpoint [Mobile first design]

/*Navigation Component*/
.navbar {
  display: none;

}

.navbarMobile {
  display: flex;
  min-width: 400px;
  justify-items: center;
  padding: 1rem;

  ul {
    li {
      width: vw;
      padding: 1rem 0;

      &:hover {
        background-color: $color-primary;
        color: white;

      }
    }
  }
}

.navbarButtonMobile {
  width: 10%;
  margin: .3rem;
  border-radius: 10px;
  color: #fff;
  padding: .5rem 0 .5rem 0;
  margin: 0 .5rem 0 .5rem;
  justify-self: flex-end;
  text-align: center;
  font: normal normal normal 16px/19px Montserrat;
  letter-spacing: -0.61px;
  border: none;
  background: $color-primary 0% 0% no-repeat padding-box;
  max-width: 104px;
  min-width: 104px;
}

.tempMobileNav {
  display: flex;
  justify-content: space-between;
  min-height: 51px;
  align-items: center;
  padding: 0 2rem;
}

/*Hero Component*/

.heroTextContainer {
  text-align: center;
  padding: 1rem;
}

.heroButtons {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: white;
  width: 280px;
  font: normal normal normal 18px/22px Montserrat;
  letter-spacing: -0.76px;
  min-height: 3rem;
  padding: 1rem;
  border-radius: 10px;
  justify-self: center;
  margin: 0 0 .5rem0;
  max-width: 600px;

  

  .heroButtonsText {
    display: flex;
    align-items: center;
    padding: .5rem;
  }

  .heroButtonsTextGroup {
    display: flex;
    justify-content: flex-end;
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: 0px;



    .pinkButton {
      border: 1px solid $color-primary;
      color: #E6007E;
      border-radius: 10px;
      width: 120px;
      height: 50px;
      letter-spacing: 0px;
      margin-right: .5rem;
      &:hover{
        background-color: $color-primary;
        color:white;
      }
    }

    .blackButton {
      border: 1px solid white;
      color: #efefef;
      border-radius: 10px;
      background-color: black;
      width: 120px;
      height: 50px;
      letter-spacing: 0px;
      margin-left: .5rem;
      &:hover{
        background-color: #efefef;
        color: #000000;
        border: 1px solid black;
      }
    }

  }
}

.hero {
  width: 100%;
  z-index: -1;
  height: auto;
}

.heroTextContainer {
  z-index: 50;
  position: relative;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }

  p {
    font-family: "Montserrat";
    font-size: 0.975rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    color: white;
    width: 75%
  }
}



/*Tabs component*/

.pinkDots {
  position: absolute;
  /* margin-left: 10%; */
  left: 0;
  z-index: -1;
}

.tabsWrapper {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  border-bottom: 1px solid #A7A7A7;
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: -0.99px;
  color: #000000;
  width: fit-content;
  justify-items: space;
  align-items: flex-end;
  margin: auto;
  padding:0rem;
  align-content: space-between;

  li:hover {
      color:black;
      
      border-bottom: 2px black solid;

  }

  li {
    color: #163235;
    margin: 0 0rem 0 0rem;
    padding: 0 1rem 1.5rem 1rem ;
  }
}




//Group all mobile styling in one place
@include devices(mobile) {
  .heroButtons {
    width: 280px;
    min-width: 280px;
    font: normal normal normal 20px/24px Montserrat;
  }

}

//Group all tablet styling in one place
@include devices(tablet) {
  .navbarMobile {
    display: none;

    .heroButtons {
      width: 280px;
    }

    .tabsWrapper {
      font: normal normal normal 26px/32px Montserrat;
    }
  }

  .navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2rem 0 2rem;
    align-content: space-between;
    align-items: center;
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    min-height: 51px;
    padding: 1.5rem 2rem;
    button{
      justify-self: flex-end;
      align-self: flex-end;
      margin: auto;
    }
  }

  .navbarMenu {
    display: flex;
    flex-direction: row;
    width: 47%;
    justify-self: flex-end;
    justify-content: flex-end;
    justify-content: space-around;
    list-style-type: none;
    color: $font-color;
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: -0.61px;

  }


  .navbarImage {
    display: flex;
    width: 43%;
    align-items: center;
  }

  .navbarButton {
    width: 10%;
    margin: .3rem;
    border-radius: 10px;
    color: #fff;
    padding: .5rem 0 .5rem 0;
    margin: 0 .5rem 0 .5rem;
    justify-self: flex-end;
    text-align: center;
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: -0.61px;
    border: none;
    background: $color-primary 0% 0% no-repeat padding-box;
    max-width: 104px;
    min-width: 104px;
  }


  .pinkDots {
    position: absolute;
    /* margin-left: 10%; */
    left: 0;
    z-index: -1;
  }



}

//Group all laptop styling in one place
@include devices(laptop) {
  .heroButtons {
    width: 300px;
  }

  .heroTextContainer {
    z-index: 50;
    position: relative;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;

    h1 {
      font-family: "Montserrat";
      font-size: 3.125rem;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
    }

    p {
      font-family: "Montserrat";
      font-size: 1.375rem;
      font-weight: 400;
      text-transform: capitalize;
      text-align: center;
      color: white;
      width: 75%
    }

  }

  .heroButtonsText {
    margin-bottom: 0rem;
  }


  .pinkDots {
    position: absolute;
    /* margin-left: 10%; */
    left: 0;
    z-index: -1;
  }




}

//Group all desktop devices in one place
@include devices(desktop) {
  .navbarMobile {
    display: none;
  }

  .heroButtons {
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
  }

  .heroTextContainer {
    width: 50%;
  }


}










.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 0 0 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 1rem;
  justify-content: space-between;
  align-items: center;
  background: #EFEFEF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  margin: 2rem;
  font-family: 'Montserrat';
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: $color-primary;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 8rem 0;

}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 292px;
  box-shadow: 2px 10px 20px rgba(40, 40, 40, .1);
  min-height: 300px;
  justify-content: space-around;
}

.card:hover,
.card:focus,
.card:active {
  color: $color-primary;
  border-color: $color-primary;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;

}


@media (max-width: 712px) {
  .grid {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }

  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    box-shadow: 2px 10px 20px rgba(40, 40, 40, .1);
    min-height: 300px;
    max-width: 100%;
    width: 100%;
  }


  .footer {
    flex-direction: column;

    .footerIcons {
      padding-top: 1rem;
    }
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}





.cardImageBack {
  background-color: #F0F4FC;
  width: 103px;
  height: 97px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 10%;
  padding: 5%;
}

.cardH2 {
  padding-top: 1rem;
  font: normal normal medium 24px/29px Montserrat;
  letter-spacing: -0.91px;
  color: #0F0F0F;
}

.cardP {
  font: normal normal normal 16px/19px Montserrat;
  letter-spacing: -0.61px;
  color: #0F0F0F;
}

.footerIcons {
  display: flex;
  flex-direction: row;

  div {
    margin: 0 .5rem 0 .5rem;
  }
}

.tabPlaceHolder {
  margin-top: 4rem;
}



.tabsContainer {
  justify-content: space-between;
  text-align: center;
}

.DestinationCardWrapper {
  display: flex;
  flex-direction: row;


  .DestinationCard {
    max-width: 1/3;
  }

  flex-wrap: wrap;
  justify-content: center;

}

.bottomDestinationCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: $color-primary;
}

.DestinationCardContainer {
  min-width: 400px;
  max-width: 400px;
  padding: 1rem;
  text-align: left;


  .cardImage {
    margin: 0px;
    padding: 0px;
  }

  .cardTitle {
    font: normal normal 600 38px/47px Montserrat;
    letter-spacing: -1.44px;
    color: #282828;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -2rem;
    margin-bottom: 1rem;

    h2 {
      padding: 0px;
    }
  }

  .cardContent {
    font: normal normal normal 18px/22px Montserrat;
    letter-spacing: -0.68px;
    color: #282828;
    margin-bottom: 1rem;
  }

}

.tabsContainer {
  h1 {
    font: normal normal bold 40px/49px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }
}


.iconBottom {
  padding: .25rem;
}



.heroWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 400px;
  min-height: 400px;
  min-block-size: 400px;
  align-content: center;
  justify-content: center;
  align-items: center;
}



.navbarMobile {
  flex-direction: column;
  text-align: center;

  .navbarMenuMobile {
    list-style-type: none;

    li {
      margin: 1rem;
    }
  }
}